.calculator {
    max-width:400px;
    margin:0 auto;
    border:1px solid #202020;
    .output {
        padding:30px 20px;
        box-sizing:border-box;
        background-color:#202020;
        font-size:100px;
        font-weight:200;
        color:#fff;
        text-align:right;
    }
    .input {
        position:relative;
        height:500px;
        button {
            float:left;
            width:100px;
            height:100px;
            border:1px solid #202020;
            font-size:40px;
            font-weight:200;
            text-align:center;
            line-height:100px;
        }
        .btns-number {
            position:absolute;
            top:100px;
            left:0;
            z-index:10;
            width:300px;
            button {
                background-color:#d3d2d7;
                &:focus {
                    background-color:#bdbcc1;
                }
                &:last-child {
                    width:200px;
                    padding-right:100px;
                }
            }
        }
        .btns-util {
            position:absolute;
            top:0;
            left:0;
            z-index:20;
            width:300px;
            button {
                background-color:#c6c5ca;
                font-size:30px;
                &:last-child {
                    position:absolute;
                    top:400px;
                    right:0;
                    background-color:#d3d2d7;
                    font-weight:600;
                }
                &:focus {
                    background-color:#bdbcc1;
                }
            }
        }
        .btns-oper {
            position:absolute;
            top:0;
            right:0;
            z-index:30;
            width:100px;
            button {
                background-color:#f98b10;
                font-size:50px;
                color:#fff;
                &:focus {
                    background-color:#e07910;
                }
            }
        }
    }
}