body {
    background-color:orange;
    h1 {
        font-size:50px;
        color:#fff;
        span {
            color:#333;
        }
    }
    h2 {
        font-size:100px;
        color:#fff;
        span {
            color:#333;
        }        
    }
}